/* === Variables globales pour light/dark mode === */
:root {
	--color-bg: #fff;
	--color-bg-alt: #f4f4f4;
	--color-bg-sidebar: #f9f9f9;
	--color-bg-sidebar-alt: #fafafa;
	--color-border: #ddd;
	--color-border-light: #e0e0e0;
	--color-primary: #1976d2;
	--color-primary-light: #b2e0ff;
	--color-secondary: #f1f0f0;
	--color-text: #222;
	--color-text-light: #666;
	--color-text-muted: #888;
	--color-danger: red;
	--color-warn: orange;
	--color-bubble-me: #1976d2;
	--color-bubble-other: #f1f0f0;
	--color-bubble-me-text: #fff;
	--color-bubble-other-text: #222;
	--color-seen-label: #888;
	--color-seen-label-me: #b2e0ff;
	--color-badge-bg: #111;
	--color-badge-text: #fff;
	--color-btn-bg: #1976d2;
	--color-btn-bg-hover: #125ea6;
	--color-btn-text: #fff;
	--color-input-bg: #fff;
	--color-input-text: #222;
	--color-date-separator-bg: #f8f8f8;
	--color-date-separator-text: #333;
	--conv-btn-bg: #f5f5f5;
  	--conv-btn-hover: #e0e0e0;
	--conv-btn-color: black;
	--back-btn-color: #333;
}


@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #181a1b;
		--color-bg-alt: #23272a;
		--color-bg-sidebar: #23272a;
		--color-bg-sidebar-alt: #202225;
		--color-border: #333;
		--color-border-light: #222;
		--color-primary: #90caf9;
		--color-primary-light: #1976d2;
		--color-secondary: #222326;
		--color-text: #f5f5f5;
		--color-text-light: #bbb;
		--color-text-muted: #aaa;
		--color-danger: #ff6b6b;
		--color-warn: orange; /* choose color */
		--color-bubble-me: #1976d2;
		--color-bubble-other: #23272a;
		--color-bubble-me-text: #fff;
		--color-bubble-other-text: #f5f5f5;
		--color-seen-label: #bbb;
		--color-seen-label-me: #90caf9;
		--color-badge-bg: #fff;
		--color-badge-text: #111;
		--color-btn-bg: #90caf9;
		--color-btn-bg-hover: #1976d2;
		--color-btn-text: #181a1b;
		--color-input-bg: #23272a;
		--color-input-text: #f5f5f5;
		--color-date-separator-bg: #23272a;
		--color-date-separator-text: #fff;
		--conv-btn-bg: #0a0a0a;
		--conv-btn-hover: #1f1f1f;
		--conv-btn-color: white;
		--back-btn-color: #ccc;
	}
}